

:root{
    --cor-1:white;
    --cor-2:black;
    --cor-3:#2B2D42;
    --cor-4:#8D99AE;
    --cor-5:#EDF2F4;
    --cor-6:#EF233C;
    --cor-7:#D90429;
    --cor-8:#004B23;
    --cor-9:#008000;
    --cor-10:#70E000;
    --cor-11:#9EF01A;
    --cor-12:red;
    --cor-13:green;

}



    .saopaulo{
        background: linear-gradient(to left,var(--cor-3), var(--cor-4), var(--cor-5), var(--cor-6), var(--cor-7) );
        width: 100vw;
        height: 100vh;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    
    div#corinthians{ background:linear-gradient(to right, var(--cor-2), var(--cor-1));
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    div#palmeiras{ background: linear-gradient(to left, var(--cor-8), var(--cor-9), var(--cor-10), var(--cor-11));
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    div#santos{ background: linear-gradient(to right, var(--cor-1), var(--cor-2));
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    

    .menu{
        height: 80px;
    background-color: var(--cor-2);
    }

    #h1{text-align: center;}

    #h2{text-align: center;}

    #h3{text-align: center;}


    .menu ul{
        display: flex;
        justify-content: center;

    }

    .menu li{
        list-style: none;
        
    }


    *{padding: 0;
      margin: 0;
      box-sizing: border-box; 
      scroll-behavior: smooth; 
    
    }

    .menu a{
        display: inline-block;
        padding: 25px 15px;
        height: 80px;
        text-decoration: none;
        color: var(--cor-1);
        transition: 1s;
        border: 1px solid var(--cor-2);
        border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;

    }

    .menu a:hover{
    background-color: var(--cor-1);
    color: var(--cor-2);
    }

    .h1{background: linear-gradient(to right, var(--cor-2), var(--cor-12));
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
    
    }
@keyframes animated{
    to {background-position-x: 161px;}
    
}

.h2
{
    text-align: center;
}

p{text-align: center;}

#h2{color: var(--cor-13);}

#h3{color: var(--cor-1)}


